{% import "macros.html" as macros %}

{% extends "posts.html" %}
{% block title %}{{ super() }} - {{ page.title }}{% endblock title %}

{% block content %}

{% if page.extra.header %}
<section class="hero">
	<figure class="image">
	<img src="{{ page.extra.header }}">
	</figure>
</section>
{% endif %}

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-7-widescreen is-8-desktop is-10-tablet">
<h1 class="title is-4">{{ page.title }}</h1>

<p class="subtitle is-5">
{% if page.date %}{{page.date}}<br>{% endif %}
</p>

<div class="content">{{ page.content | safe }}</div>

</div>
</div>
</div>
</section>

{% endblock content %}
