{% import "macros.html" as macros %}

{% extends "videos.html" %}
{% block title %}{{ super() }} - {{ page.title }}{% endblock title %}

{% block content %}

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-7-widescreen is-8-desktop is-10-tablet">
<h1 class="title is-4">{{ page.title }}</h1>

<p class="subtitle is-5">
{{ page.extra.teaser }}<br>
{% if page.year %}{{page.year}}<br>{% endif %}
</p>

<div class="research-content content">{{ page.content | safe }}</div>

</div>
</div>
</div>
</section>

{% endblock content %}
